<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labelord web page</title>
</head>
<body>
   <h1> Labelord </h1>

    <h2>Aplication description</h2>
        <p>This aplication is for easier work with the labelord program and add new features. With this aplication,
        you can control your labels on GitHub trough selected repositories and replicate them. You need only
        set GitHub webook of your repository and enable repositories in config file. Enabled repositories you
        can find down on this page</p>
    <h2>Active repositories</h2>
   {% if repos is none %}
            No repos is specificated!
   {% else %}
    <ul>
        {% for repo in repos %}
            <li>{{repo | gitLink}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>